html, body {
	width: 100%;
	height: 100%;

	margin:0;
	overflow: hidden;

	background-color: #005090;   

	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
	font-family: verdana;
}

.game_window {
	width: 100%;
	height: 100%;
	margin: 0 auto;

	overflow: hidden;
	border-left: solid black 1px;
	border-right: solid black 1px;
}

.game_play_area {
	width: 68.9%;
	height: 100%;

	float: left;
}

.game_interface {
	width: 31.1%;
	height: 100%;

	background-color: #004080;

	float: right;
	color: white;

	font-size: 12pt;
	-webkit-text-size-adjust:none;
}
/*	
	1255x940 window
	865x940 play_area
	865x33	notification
	390x940 interface
	150x135	game_hex
   */

.game_current_player_notification {
	width: 100%;
	height: 3.51%;

	background-color: salmon;
}

.game_board {
	width: 100%;
	height: 96.49%;

	background-image: url(res/gradiant.bmp);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-top: solid black 1px;

}

.corner_dice {
	width: 10%;
	height: 9.54%;

	float: left;
	position: relative;

	top: 7%;
	left: 7%;

	text-align: center;

}

.die {
	display: inline-block;

	width: 50%;
	height: 50%;

	background-image: url(res/dice.png);
	background-size: auto 100%;
}

.die:nth-child(1) {
	float:left;
}

.die:nth-child(2) {
	float:right;
}

.dice_value {
	font-size: 2em;
	font-family: verdana;
	color: white;
}

.roll_dice {
	width: 12%;
	height: 11.45%;

	float: right;
	position: relative;

	top: 45%;
	left: -45%;

	z-index: 1000;
}

.rolling_die:nth-child(1) {
	float:left;
}

.rolling_die:nth-child(2) {
	float:right;
}


.rolling_die {
	-webkit-animation-name: rolldie;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: steps(14, end);
  	-webkit-animation-iteration-count: infinite;
	display: inline-block;

	width: 50%;
	height: 68.0%;

	background-image: url(res/DiceAnim.png);
	background-size: auto 100%;
}

@-webkit-keyframes rolldie {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}